{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<main>
    <head>
        <title>Página de créditos</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <section class="credits">
            <h2>Créditos</h2>
            <p>Esta página fue creada por:</p>
            <ul>
                <li>Juan José Monsalve</li>
                <li>Juan José Alzate</li>
            </ul>
        </section>
    </body>
</main>
{% endblock  %}