{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="principal">
        <div class="principal__texto">
            <h1>Bienvenido a FoodTicket</h1>
            <p>Tu asistente para restaurante</p>
        </div>
        <div class="principal__imagen">
            <figure>
                <img src="{% static 'home/images/principal_icon.png' %}" alt="Icono plato">
            </figure>
        </div>
    </div>


</main>
{% endblock  %}

<!-- Pié de página -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; 2023 · Juan José Monsalve Marín · Juan José Alzate · Juan Camilo Valencia Hicapie (creditos)</p>
          <p class="copyright text-muted">Universidad Nacional de Colombia · Medellín </p>
        </div>
      </div>
    </div>
  </footer>