<!DOCTYPE html>
<html>
<head>
    <title>Política de Tratamiento de Datos</title>
</head>
<body>
    <h1>Política de Tratamiento de Datos</h1>
    <p>En nuestra página web, respetamos y protegemos la privacidad de
    nuestros usuarios. A continuación, se detalla nuestra política de
    tratamiento de datos:</p>

    <h2>1. Recopilación de información</h2>
    <p>Recopilamos información de nuestros usuarios, incluyendo los
    datos proporcionados en cada uno de los formularios.</p>

    <h2>2. Uso de la información</h2>
    <p>Utilizamos los datos recopilados para procesar el registro y
    ofrecer servicios personalizados a nuestros usuarios.</p>

    <h2>3. Compartir información</h2>
    <p>No compartimos la información de nuestros usuarios con terceros.</p>

    <h2>4. Seguridad de la información</h2>
    <p>Hemos implementado medidas de seguridad para proteger los datos
    de nuestros usuarios.</p>

    <h2>5. Acceso y actualización de información</h2>
    <p>Los usuarios pueden acceder y actualizar su información personal
    a través de nuestra plataforma.</p>

    <h2>6. Política de cookies</h2>
    <p>Utilizamos cookies en nuestra página web para mejorar la
    experiencia del usuario y los usuarios pueden gestionarlas en la
    configuración de su navegador.</p>

    <h2>7. Cambios en la política de tratamiento de datos</h2>
    <p>Nuestra política de tratamiento de datos puede ser modificada en
    el futuro. Cualquier cambio se comunicará a los usuarios de manera
    oportuna.</p>

    <h2>8. Contacto</h2>
    <p>Si tienes alguna pregunta o consulta relacionada con nuestra
    política de tratamiento de datos, puedes contactarnos a través de
    la siguiente información:</p>
    <p>Teléfono: 3124537895</p>
    <p>Email: foodticket@gmail.com</p>

    <p>Al hacer clic en el botón de registro, el usuario indica que ha
    leído y aceptado nuestra política de tratamiento de datos.</p>
</body>

</html>
