{% extends 'clientes/index.html' %}

{% load static %}

{% block content_clientes %}

    <div class="container mt-2">
        {{ error }}
        <div class="col-md-4 offset-md-3 mt-5">
            <form action="{% url 'clientes:compra' %}" method="POST" class="card card-body">
                {% csrf_token %}
                {{formulario_compra.as_p}}
                <input type="submit" value="Seleccionar" class="btn btn-lg btn-outline-warning mt-3 me-2">
            </form>
        </div>
    </div>

{% endblock  %}